@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@Html.Raw(ViewBag.Message)</h3>

<address>
    77/C, Jonaki Road<br />
    Ahammed Nagar, Mirpur<br />
    Dhaka-1216, Dhaka, Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    +88(018) 17 015 015
</address>

<address>
    <strong>LIVE:</strong>   <a href="mailto:jewelmir@live.com">jewelmir@live.com</a><br />
    <strong>GMAIL:</strong> <a href="mailto:jewelmir81@gmail.com">jewelmir81@gmail.com</a><br />
    <strong>Website:</strong> <a href="http://features.site/" target="_blank">features.site</a>
</address>